# Bağımlılıklar
node_modules

# Build çıktısı
dist
dist-ssr

# Loglar
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ortam değişkenleri
.env
.env.*
!.env.example

# Vite / cache
.vite
*.local

# Editör / IDE
.vscode/*
!.vscode/extensions.json
.idea

# İşletim sistemi
.DS_Store
Thumbs.db
